html * {
	font-family: "Nanum Barun Gothic";
	font-size: 14px;
}

body {
	background-color: white;
}

/* footer */
footer {
	margin-top: 10px;
	color: #555;
	padding: 25px;
	font-weight: 300;
}

.footer p {
	margin-bottom: 0;
	font-size: 14px;
	margin: 0 0 10px;
	font-weight: 300;
}

footer p a {
	color: #555;
	font-weight: 400;
}

footer p a:hover {
	color: #9f26aa;
	text-decoration: none;
}