@import url(//fonts.googleapis.com/earlyaccess/hanna.css);
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url('https://fonts.googleapis.com/css?family=Montserrat:500,600,700');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700');
@charset "UTF-8";


.title {
	 text-align: center;
}

.time {
	 text-align: center;
}

.img-fluid {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}






